@import "@/styles/themes/variables";

.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2.5em;
    border-bottom: solid 1px $primaryColor;
}

.ContainerList {
    color: $white;
}

.List {
    display: flex;
    gap: 60px;
    list-style: none;
    margin-right: 10em;
}

.Simbol {
    color: $primaryColor;
    font-weight: bold;
}
